{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "configDir": "."
    },
    "mutators": {
        "@default": true,
        "Concat": {
        	"ignoreSourcECodeByRegex": [
        		"throw.*Exception\("
        	]
        }
        // HKDF output length changes cannot be reliably tested without known-answer vectors for each specific length
        "IncrementInteger": {
            "ignoreSourceCodeByRegex": [
                "hash_hkdf",
                "substr"
            ]
        }
    },
    "threads": "max",
    "timeout": 300,
    "minCoveredMsi": 85,
    "logs": {
        "text": "infection.log"
    }
}