{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "configDir": "."
    },
    "mutators": {
        "@default": true,
        "ArrayItem": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\ActivityPub\\WebFinger",
            ]
        },
        "ArrayItemRemoval": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\ActivityPub\\WebFinger",
            ]
        },
        "Assignment": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\Encoding\\Base58BtcVarTime",
                "FediE2EE\\PKD\\Crypto\\Merkle\\Tree"
            ]
        },
        "BitwiseAnd": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\Encoding\\Base58BtcVarTime",
                "FediE2EE\\PKD\\Crypto\\Merkle\\Tree"
            ],
            "ignoreSourceCodeByRegex": [
                ".*JSON_.*"
            ]
        },
        "BitwiseOr": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\Encoding\\Base58BtcVarTime"
            ],
            "ignoreSourceCodeByRegex": [
                ".*JSON_.*"
            ]
        },
        "Break_": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\Merkle\\IncrementalTree"
            ]
        },
        "CastInt": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\HttpSignature",
                "FediE2EE\\PKD\\Crypto\\Encoding\\Base58BtcVarTime"
            ]
        },
        "Division": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\Encoding\\Base58BtcVarTime"
            ]
        },
        "CastFloat": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\Encoding\\Base58BtcVarTime"
            ]
        },
        "Coalesce": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\ActivityPub\\WebFinger"
            ]
        },
        "Concat": false,
        "ConcatOperandRemoval": false,
        "DecrementInteger": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\HttpSignature",
                "FediE2EE\\PKD\\Crypto\\Merkle\\Tree",
                "FediE2EE\\PKD\\Crypto\\Merkle\\IncrementalTree",
                "FediE2EE\\PKD\\Crypto\\PublicKey::encodePem",
                "FediE2EE\\PKD\\Crypto\\UtilTrait::stripNewlines",
                "*::stripNewlines",
                "FediE2EE\\PKD\\Crypto\\Encoding\\Base58BtcVarTime"
            ],
            "ignoreSourceCodeByRegex": [
            	".*chunk_split.*"
            ]
        },
        "IncrementInteger": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\Merkle\\Tree",
                "FediE2EE\\PKD\\Crypto\\Merkle\\IncrementalTree",
                "FediE2EE\\PKD\\Crypto\\PublicKey::encodePem",
                "FediE2EE\\PKD\\Crypto\\UtilTrait::stripNewlines",
                "*::stripNewlines",
                "FediE2EE\\PKD\\Crypto\\Encoding\\Base58BtcVarTime"
            ],
            "ignoreSourceCodeByRegex": [
            	".*chunk_split.*",
                ".*hash_hkdf.*",
                ".*substr.*"
            ]
        },
        "LogicalAnd": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\Merkle\\Tree"
            ]
        },
        "LogicalAndNegation": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\Merkle\\Tree"
            ]
        },
        "LogicalOr": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\Merkle\\Tree",
                "FediE2EE\\PKD\\Crypto\\Encoding\\Base58BtcVarTime"
            ]
        },
        "Minus": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\Encoding\\Base58BtcVarTime"
            ]
        },
        "Modulus": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\Encoding\\Base58BtcVarTime"
            ]
        },
        "Multiplication": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\Encoding\\Base58BtcVarTime"
            ]
        },
        "Plus": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\Encoding\\Base58BtcVarTime"
            ]
        },
        "ReturnRemoval": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\Merkle\\Tree",
                "FediE2EE\\PKD\\Crypto\\Merkle\\IncrementalTree"
            ],
            "ignoreSourceCodeByRegex": [
                ".*return '';.*",
                ".*return null;.*",
            	".*chunk_split.*",
                ".*hash_hkdf.*",
                ".*substr.*"
            ]
        },
        "RoundingFamily": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\Encoding\\Base58BtcVarTime"
            ]
        },
        "ShiftRight": {
            "ignore": [
                "FediE2EE\\PKD\\Crypto\\Encoding\\Base58BtcVarTime"
            ]
        },
        "Throw_": false
    },
    "threads": "max",
    "timeout": 600,
    "minCoveredMsi": 90,
    "logs": {
        "text": "infection.log"
    }
}